@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'League Spartan', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: #637097;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .common-btn {
    @apply rounded-md flex justify-center items-center cursor-pointer bg-[#eae3dc] text-[#222730] leading-none text-2xl hover:brightness-150 shadow-customInnerBottom shadow-[#222730];
  }
}
